- thing = mini_thing
%li.miniThing
  %a{:href => thing.url, :class => "relation", :style => "background-image: url(#{thing.image_url})", :target => "_top"}
    %span= thing.name
    - # %a{href: "#", class: "add", title: "Create a relation"} +
