%script#thingTemplate{:type => "mustache"}
  %h2 {{name}}
  %img{src: "{{image_url}}"}
  .preview {{{preview_html}}}
  .relations
  
  %p.source
    Source:
    = link_to "{{url}}", "{{url}}"

%script#relationTemplate{:type => "mustache"}
  %a{:href => "{{REPLACE_SUB_OBJ.url}}", :class => "relation", :style => "background-image: url({{REPLACE_SUB_OBJ.image_url}})"}
    %span {{REPLACE_SUB_OBJ.name}}

%script#miniThingTemplate{:type => "mustache"}
  %li.miniThing
    %a{:href => "/{{url}}", :class => "relation", :style => "background-image: url({{image_url}})"}
      %span {{name}}
      %a{href: "#", class: "add", title: "Create a relation"} +

%script#bookmarkletTemplate{:type => "mustache"}
  %div
    %input{type: "text", style: "width: 100%; font-size: 21px; border: 1px solid blue; background: white; margin: 5px 0 10px;", value: "Search for a thing or paste a link...", id: "term"}
    .recent.hidden
      Your Recent Things:
      %ul.results
      .clear{style: "clear: both"}
      .hidden
        Already related Things:
        %ul.results
      .clear{style: "clear: both"}
