%script#thingTemplate{:type => "mustache"}
  <h2>{{name}}</h2>
  <img src="{{image_url}}" />
  <div class="preview">{{preview_html}}</div>
  <div class="relations"></div>

%script#relationTemplate{:type => "mustache"}
  {{subject_url}} -| {{predicate}} -| {{object_url}}

%script#miniThingTemplate{:type => "mustache"}
  <h2>{{name}}</h2>

