#page
  #thing
    %h2 Nearness.org
    .preview
      %p Things and Relations.
      %p Subjects, Objects and Predicates.
      The bookmarklet is here:
      = link_to_bookmarklet "Relate!", subject_url: nil, predicate: nil, object_url: nil
  #context
    #createRelation
    #relations.things
