#page
  #thing
    %h2 Nearness.org
    %img{src: "http://www.world-faiths.com/images/Maitreya.bud.1.jpg"}
    .preview
      %p Things and Relations.
      %p Subjects, Objects and Predicates.
      The bookmarklet is here:
      = link_to "Bookmarklet", "#"
  #context
    #createRelation
    #relations.things
