%html
  %head
    = stylesheet_link_tag "application", :media => "all"
  %body.iframe
    %ul.things
      = render :partial => "frontend/mini_thing", :collection => get_related_things_from_relations(@thing.url, @relations)

